<div id="sidebar" class="uk-background-primary">
  <img src="logo.png" alt="MacyRX" class="sidebar-logo">

  <ul class="uk-nav uk-nav-default">
    <li>
      <a href="/"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Dashboard</a>
    </li>
    <li>
      <a href="/profiles"><span class="uk-margin-small-right" uk-icon="icon: users"></span> Manage family</a>
    </li>
    <li>
      <a href="/logout"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> Log out</a>
    </li>
  </ul>
</div>