{{> head}}

<main class="uk-section uk-section-default login-screen">
  <div class="uk-container">
    <div class="uk-grid">
      <div class="uk-width-1-1 uk-width-1-2@m">
        <img src="logo.png" alt="MacyRX" class="logo">
        <h2>Your family's personal health assistant</h2>
        <div class="uk-margin-top-large">
          <a href="/auth/google" class="uk-button uk-button-secondary">
            Sign In with Google
          </a>
        </div>
      </div>
      <div class="uk-width-1-2 uk-visible@m">
        <img src="medicines.png" alt="Medicine">
      </div>
    </div>
  </div>
</main>

{{> foot}}